body {
  background-color: #3b3b3b;
  font-family: "Inter", sans-serif;
  border-block-color: #a7885d;
}

::selection {
  background: #a7885d;
}

section {
  padding-top: 8rem;
}

.jumbotron {
  padding-top: 7rem;
  color: #ffffff;
    padding-bottom: 50px;
    height: 650px;
}

/* #startjm {
    opacity: 0.5;
}
*/

.lead {
  width: auto;
  font-size: 15px;
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #63533c; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.2em; /* Adjust as needed */
  animation: typing 8s steps(37, end), blink-caret 1.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffffff;
  }
}

hr:not([size]) {
  height: 1px;
}

hr {
  margin: 0 auto;
  width: 30%;
  padding: 1.2px;
  color: var(--acsentColor);
  margin-bottom: 2.4rem;
  opacity: 100%;
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

[role="button"] {
  cursor: pointer;
}

#music {
  background-color: #a4a5a6;
}

#music img {
  display: block;
  width: 150px;
  height: 150px;
  transition: all 0.3s;
}

#music img:hover {
  transform: scale(1.05);
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.d-flex {
  display: flex !important;
}

#projects {
  background-color: #3b3b3b;
}

.card {
  transition: all 0.3s;
}


.card:hover {
  transform: scale(1.05);
}

#music {
    padding-bottom: 100px;
}

#contact h5:hover {
   color:white
}

#shoots {
    background-color: #6583f7;
}

.carousel-inner {
  border: 5px solid #a7885d;
}

.site-footer {
  background-color: #000000;
}

.music1, .music2, .music3, .music4 {
    background-color: grey;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
    border: white solid 5px;
}

a {
  text-decoration: none;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal {
  transform: translateY(0px);
  opacity: 1;
}
